@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron text-center">
    <h1>Carter Oauth Login</h1>
    <p></p>
    <p class="text-center"><a class="btn btn-lg btn-success" href="/login" role="button">Carter Login</a></p>
</div>